[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maximeAudrain
[access "refs/for/refs/*"]
	read = group user/maximeAudrain
	push = group user/maximeAudrain
	label-Code-Review = -2..+2 group user/maximeAudrain
	label-Verified = -1..+1 group user/maximeAudrain
	rebase = group user/maximeAudrain
	removeReviewer = group user/maximeAudrain
	submit = group user/maximeAudrain
[access "refs/heads/*"]
	read = group user/maximeAudrain
	create = group user/maximeAudrain
	push = +force group user/maximeAudrain
	pushMerge = group user/maximeAudrain
[access "refs/tags/*"]
	push = +force group user/maximeAudrain
	pushTag = group user/maximeAudrain
	pushSignedTag = group user/maximeAudrain
