<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
		<command
        categoryId="org.eclipse.jdt.ui.category.source"
        id="org.jenerate.lang.actions.GenerateEqualsHashCodeAction"
        name="Generate Equals and HashCode..."/>
		<command
        categoryId="org.eclipse.jdt.ui.category.source"
        id="org.jenerate.lang.actions.GenerateToStringAction"
        name="Generate ToString Method..."/>
		<command
        categoryId="org.eclipse.jdt.ui.category.source"
        id="org.jenerate.lang.actions.GenerateCompareToAction"
        name="Generate CompareTo Method..."/>
  <command
        categoryId="org.eclipse.jdt.ui.category.source"
        id="org.jenerate.lang.actions.JenerateLangMenu"
        name="Jenerate">
  </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jenerate.internal.ui.preference.JenerateBasePreferencePage"
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            name="Jenerate"
            id="org.jenerate.ui.preferences.JenerateBasePreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jenerate.JeneratePreferenceInitializer"/>
   </extension>
	<extension point="org.eclipse.ui.bindings">
		<key
        commandId="org.jenerate.lang.actions.GenerateEqualsHashCodeAction"
        contextId="org.eclipse.jdt.ui.javaEditorScope"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="Alt+Shift+G H"/>
  <key
        commandId="org.jenerate.lang.actions.GenerateToStringAction"
        contextId="org.eclipse.jdt.ui.javaEditorScope"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="Alt+Shift+G S">
  </key>
  <key
        commandId="org.jenerate.lang.actions.GenerateCompareToAction"
        contextId="org.eclipse.jdt.ui.javaEditorScope"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="Alt+Shift+G C">
  </key>
  <key
        commandId="org.jenerate.lang.actions.JenerateMenu"
        contextId="org.eclipse.jdt.ui.javaEditorScope"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="Alt+Shift+G">
  </key>
	</extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.jenerate.internal.generate.method.handler.MethodGeneratorHandler"
          commandId="org.jenerate.lang.actions.GenerateEqualsHashCodeAction">
       <activeWhen>
          <reference
                definitionId="org.jenerate.lang.contribution.inEditor">
          </reference></activeWhen>
    </handler>
    <handler
          class="org.jenerate.internal.generate.method.handler.MethodGeneratorHandler"
          commandId="org.jenerate.lang.actions.GenerateToStringAction">
       <activeWhen>
          <reference
                definitionId="org.jenerate.lang.contribution.inEditor">
          </reference>
       </activeWhen>
    </handler>
    <handler
          class="org.jenerate.internal.generate.method.handler.MethodGeneratorHandler"
          commandId="org.jenerate.lang.actions.GenerateCompareToAction">
       <activeWhen>
          <reference
                definitionId="org.jenerate.lang.contribution.inEditor">
          </reference>
       </activeWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any?before=additions">
       <menu
             commandId="org.jenerate.lang.actions.JenerateMenu"
             id="jenerateMenu"
             label="Jenerate">
          <command
                commandId="org.jenerate.lang.actions.GenerateEqualsHashCodeAction"
                label="Generate Equals and HashCode..."
                style="push">
          </command>
          <command
                commandId="org.jenerate.lang.actions.GenerateToStringAction"
                label="Generate ToString Method..."
                style="push">
          </command>
          <command
                commandId="org.jenerate.lang.actions.GenerateCompareToAction"
                label="Generate CompareTo Method..."
                style="push">
          </command>
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="org.jenerate.lang.contribution.inEditor">
             </reference>
          </visibleWhen>
       </menu>
    </menuContribution>
 </extension>
 <extension point="org.eclipse.core.expressions.definitions">
    <definition id="org.jenerate.lang.contribution.inEditor">
		<and>
	      <with variable="activeEditorId">
	           <equals
	                 value="org.eclipse.jdt.ui.CompilationUnitEditor">
	           </equals>
	      </with>
	      <with variable="activePartId">
		     <equals
		           value="org.eclipse.jdt.ui.CompilationUnitEditor">
		     </equals>
	      </with>
        </and>
    </definition>
</extension>
</plugin>
